* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #000, #086480, #000);
  font-family: sans-serif;
}

header h1 {
  color: #fff;
  margin: 5rem 0;
  font-size: 3rem;
}

header,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  position: relative;
}

form button,
form input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}
form input{
  background-color: #f8f9fa;
}

form button {
  color: #fff;
  background-color: #2894af;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left:-4px
}

form button:hover {
  background-color: #fff;
  color: #000;
}
form button{border:none !important;}

span {
  word-break: break-all;
}
.form-signin, .form-todo,.todo{background:#fff;color:#18191A}

.dark .form-signin, .dark .form-todo, .dark .todo, .dark .loading{background:#18191A;color:#fff}
.dark input{background-color: #3A3B3C;border:none!important;}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark form button {background-color: #09404e;}
.todo {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s all ease;
}

.completed {
  opacity: 0.5;
}

.completed span {
  text-decoration: line-through;
}

.logout {
  cursor: pointer;
  font-size: 12px;
}

.loading {
  background: white
}

.loading h1 {
  animation:
    typing 3.5s steps(40, end) infinite, blink-caret .75s step-end infinite;

  overflow: hidden;
  border-right: 3px solid #212529;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #212529;
  }
}